---
import { metaData } from "../data/siteData"
import { ViewTransitions } from 'astro:transitions'

import "../styles/reset.css"
import "../styles/main.css"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { pageTitle } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={metaData.SITE_DESCRIPTION} />
		<meta name="keywords" content={metaData.SITE_KEYWORDS} />
		<meta name="author" content={metaData.SITE_AUTHOR}>
		<meta name="generator" content={Astro.generator} />
		<title>{metaData.SITE_TITLE} &bull; {pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main class="wrapper flow">
			<slot />
		</main>
		<Footer />
	</body>
</html>